body {
    background-color: rgb(202, 40, 242)
}

.main-container {
    margin: 10px 0px 0px 40px;
    font-weight: bolder;
    color: black;
}

table {
    font-size: small;
    width: min-content;
}

.gender {
    display: inline-block;

}